/src/drawlib/*.suo
packages/
*.dll
*.pdb
*.exe
/src/drawlib/drawlib/bin/Debug/*.xml
/src/drawlib/drawlib/bin/Debug/*.config
/src/drawlib/drawlib/bin/Debug/*.fx
/src/drawlib/drawlib/obj/Debug/*.txt
/src/drawlib/drawlib/obj/Debug/*.cache
