/src/drawlib/*.suo
packages/

/src/drawlib/drawlib/bin/Debug/*.dll
/src/drawlib/drawlib/bin/Debug/*.pdb
/src/drawlib/drawlib/bin/Debug/*.exe
/src/drawlib/drawlib/bin/Debug/*.xml
/src/drawlib/drawlib/bin/Debug/*.config
/src/drawlib/drawlib/bin/Debug/*.fx


/src/drawlib/drawlib/obj/Debug/*.dll
/src/drawlib/drawlib/obj/Debug/*.pdb
/src/drawlib/drawlib/obj/Debug/*.exe
/src/drawlib/drawlib/obj/Debug/*.xml
/src/drawlib/drawlib/obj/Debug/*.config
/src/drawlib/drawlib/obj/Debug/*.fx
/src/drawlib/drawlib/obj/Debug/*.txt
/src/drawlib/drawlib/obj/Debug/*.cache




/src/drawlib/drawlib/bin/Release/*.dll
/src/drawlib/drawlib/bin/Release/*.pdb
/src/drawlib/drawlib/bin/Release/*.exe
/src/drawlib/drawlib/bin/Release/*.xml
/src/drawlib/drawlib/bin/Release/*.config
/src/drawlib/drawlib/bin/Release/*.fx


/src/drawlib/drawlib/obj/Release/*.dll
/src/drawlib/drawlib/obj/Release/*.pdb
/src/drawlib/drawlib/obj/Release/*.exe
/src/drawlib/drawlib/obj/Release/*.xml
/src/drawlib/drawlib/obj/Release/*.config
/src/drawlib/drawlib/obj/Release/*.fx
/src/drawlib/drawlib/obj/Release/*.txt
/src/drawlib/drawlib/obj/Release/*.cache

