/src/drawlib/*.suo
packages/

/src/drawlib/drawlib/bin/Debug/*.dll
/src/drawlib/drawlib/bin/Debug/*.pdb
/src/drawlib/drawlib/bin/Debug/*.exe
/src/drawlib/drawlib/bin/Debug/*.xml
/src/drawlib/drawlib/bin/Debug/*.config
/src/drawlib/drawlib/bin/Debug/*.fx


/src/drawlib/drawlib/obj/Debug/*.dll
/src/drawlib/drawlib/obj/Debug/*.pdb
/src/drawlib/drawlib/obj/Debug/*.exe
/src/drawlib/drawlib/obj/Debug/*.xml
/src/drawlib/drawlib/obj/Debug/*.config
/src/drawlib/drawlib/obj/Debug/*.fx
/src/drawlib/drawlib/obj/Debug/*.txt
/src/drawlib/drawlib/obj/Debug/*.cache


